{% extends '_layouts/main.html' %}

{% block title %}<div class="heading">
  <h3 class="title-text text-center">Группы</h3>
</div>
{% endblock %}

{% block body %}
<!--
<ul>
    {% for label in labelsList %}
  <li>
    <a href="{{ label.get_absolute_url }}">
      {{ label.headline}}
    </a>
  <li>
{% endfor %}
</ul>
-->

<div class="labels">
<ul>
  <li><a href="/songs/0/">0</a></li>
  <li><a href="/songs/1/">1</a></li>
  <li><a href="/songs/2/">2</a></li>
  <li><a href="/songs/3/">3</a></li>
  <li><a href="/songs/4/">4</a></li>
  <li><a href="/songs/5/">5</a></li>
  <li><a href="/songs/6/">6</a></li>
  <li><a href="/songs/7/">7</a></li>
  <li><a href="/songs/8/">8</a></li>
  <li><a href="/songs/9/">9</a></li>
  <li><a href="/songs/a/">A</a></li>
  <li><a href="/songs/b/">B</a></li>
  <li><a href="/songs/c/">C</a></li>
  <li><a href="/songs/d/">D</a></li>
  <li><a href="/songs/e/">E</a></li>
  <li><a href="/songs/f/">F</a></li>
  <li><a href="/songs/g/">G</a></li>
  <li><a href="/songs/h/">H</a></li>
  <li><a href="/songs/i/">I</a></li>
  <li><a href="/songs/j/">J</a></li>
  <li><a href="/songs/k/">K</a></li>
  <li><a href="/songs/l/">L</a></li>
  <li><a href="/songs/m/">M</a></li>
  <li><a href="/songs/n/">N</a></li>
  <li><a href="/songs/o/">O</a></li>
  <li><a href="/songs/p/">P</a></li>
  <li><a href="/songs/q/">Q</a></li>
  <li><a href="/songs/r/">R</a></li>
  <li><a href="/songs/s/">S</a></li>
  <li><a href="/songs/t/">T</a></li>
  <li><a href="/songs/u/">U</a></li>
  <li><a href="/songs/v/">V</a></li>
  <li><a href="/songs/w/">W</a></li>
  <li><a href="/songs/x/">X</a></li>
  <li><a href="/songs/y/">Y</a></li>
  <li><a href="/songs/z/">Z</a></li>
</ul>
</div>
{% block content %}
  {% include '_partials/tracksList.html' %}
{% endblock %}
{% endblock body %}